.button {
  width: 100px;
  background-color:#eeeeee50;
  border: none;
  box-shadow: 2px 2px #22222250;
  padding: 4px;
  border-radius: 4px;
  margin: 4px;
  color: inherit;
}

.input {
  padding: 10px 20px;
  border: none;
  color: inherit;
}